<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Forge server</title>
</head>

<body>
  <main class="screen">
    <section id="cup"></section>
    <canvas id="canvas" style="border: 1px solid;"></canvas>
  </main>

  <style type="text/css">
    body {
      position: relative;
      width: 100vw;
      height: 100vh;
      background: no-repeat bottom left, linear-gradient(#061220, #291117);
    }

    .screen {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(./img.jpg) no-repeat center center / contain;
    }
  </style>
  <script src="main.js"></script>
</body>

</html>